
/* Scrolly styling */


.scrolly-graph {
	margin: 15px !important;
	padding: 0px;
	z-index: 100;
	top: 15px;
}

#container {
 width: 100%;
}

label {
  font-size: 14px;
}
.scrolly-sections {
  width: 95% !important;
}

.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width: 70%;
}

.shiny-input-container:not(.shiny-input-container-inline) {
	width: 300px;
	max-width: 100%;
	background: white;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	/* margin: 0px; */
}
.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px transparent;
	max-width: 50%;
}


.irs-grid-text {
	position: absolute;
	bottom: 0;
	left: 0;
	white-space: nowrap;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	padding: 0 3px;
	color: #000;
}

.irs-bar {
	height: 8px;
	top: 25px;
	border-top: 1px solid var(--council-blue);
	border-bottom: 1px solid var(--council-blue);
	background: var(--council-blue);
}

.irs-bar-edge {
	height: 8px;
	top: 25px;
	width: 14px;
	border: 1px solid var(--council-blue);
	border-right: 0;
	background: var(--council-blue);
	border-radius: 16px 0 0 16px;
	-moz-border-radius: 16px 0 0 16px;
}

/* All other styling */

.control-label {
	font-size: 22px;
	font-family: Light;
	font-weight: 400;
	margin-bottom: 0px;
}

.irs-from, .irs-to, .irs-single {
	color: #fff;
	font-size: 16px;
	line-height: 1.333;
	text-shadow: none;
	padding: 1px 3px;
	background:var(--council-blue);
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.irs-slider {
	top: 17px;
	width: 18px;
	height: 18px;
	border: 1px solid #AAA;
	background: #DDD;
	border-radius: 27px;
	-moz-border-radius: 27px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	cursor: pointer;
}

thead { /* DT header row*/
	font-family: Light, Helvetica, Tahoma, Geneva, "Arial Narrow", Arial, sans-serif;
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300;
  color: var(--council-blue);
  font-family: Light, Helvetica, Tahoma, Geneva, "Arial Narrow", Arial,  sans-serif;
}

h1 { font-size: 36px; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 26px; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 22px; line-height: 1.3;  letter-spacing: -.05rem; }
h4 { font-size: 18px; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 16px; line-height: 1.3;  letter-spacing: -.05rem; }
h6 { font-size: 14px; line-height: 1.6;  letter-spacing: 0; }

body {
	font-size: 15px;
	line-height: 1.6;
	font-weight: 100;
	font-family: Roman, Helvetica, Tahoma, Geneva, Arial, sans-serif;
	background-color: var(--council-white);
	color: var(--council-black);
	max-width: 100%;
}

p {
	font-size: 15px;
	font-family: Helvetica, Tahoma, Geneva, Arial, sans-serif;
	background-color: var(--council-white);
	color: var(--council-black);
	max-width: 100%;
}

b, strong {
	font-family: Medium !important;
	font-weight: 100 !important;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
	width: 99%;
}


.navbar-default {
	background-color: var(--council-gray);
	border-color: var(--council-gray);
	color: var(--council-blue);
	font-size: 16px;
	text-transform: uppercase;
	margin-right: 10px;
	margin-left: 10px;
  font-family: Bold-Condensed, "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
	height: 95px;
	width: 100%;
	padding-right: 10%;
	padding-left: 10%;
}


.navbar-brand {
  font-family: Bold-Condensed, "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
  color: var(--council-blue);
}

.navbar-default .navbar-nav > li > a {
  color: var(--council-blue);
  height: 95px;
  padding-top: 39.5px;
  padding-bottom: 39.5px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: var(--council-blue);
	background-color: #d6d6d6;
}

/* //unclear what this is doing
.navbar-default .navbar-brand {
	color: var(--council-blue);//ack);
}
*/


/* //this is presumable how to add a blue bar on top
.navbar-header {
 // margin: 1%;
  height: 5px;
//  width: 100%;
  color: #0054a4;
}
*/


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color:var(--council-blue);
	background-color: #d6d6d6;
	height: 95px;
}
/*
.navbar-nav {
	float: right;
	margin: 0;
}
*/

.nav-tabs>li>a {
 margin-right:2px;
 line-height:1.42857143;
 border:1px solid transparent;
 border-radius:4px 4px 0 0;
 font-size: 16px;
}


.tab-content {
	min-width: 950px;
	padding: 5px;
	margin-left: 10%;
	width: 80%;
	margin-right: 10%;
	max-width: 100%;
}

.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px transparent;
}



.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4;
  font-size: 150%;
}

